h1,
h2 {
  font-weight: normal;
}

.dashboard {
  padding: 20px;
  line-height: 2;
}

.link-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.link-container li {
  margin: 20px 5px;
}

.link-container a:hover {
  color: black;
}
