@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button-container {
  margin-top: 20px;
}

.primary-btn {
  padding: 12px 22px;
  background: brown;
  color: white;
  border: 3px solid brown;
  transition: all 0.2s;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.primary-btn:hover {
  background: transparent;
  color: brown;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  margin: 5px;
  box-shadow: 1px 1px 5px gray;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.crop-card {
  width: 270px;
  min-height: 450px;
  padding: 20px;
  margin: 5px;
  box-shadow: 1px 1px 5px gray;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  text-align: start;
}

.center-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}

.card span {
  font-weight: bold;
}

.crop-card span {
  font-weight: bold;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.search-bar input {
  padding: 10px;
}

.disease-curing {
  padding: 20px;
}

.button-holder {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.disease-curing img {
  width: 300px;
  padding: 20px;
}

.success {
  padding: 15px;
  background: lightgreen;
  color: green;
}

.error {
  padding: 15px;
  background: rgb(255, 129, 129);
  color: red;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid brown; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container-l {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
