@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button-container {
  margin-top: 20px;
}

.primary-btn {
  padding: 12px 22px;
  background: brown;
  color: white;
  border: 3px solid brown;
  transition: all 0.2s;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.primary-btn:hover {
  background: transparent;
  color: brown;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.labour-cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  margin: 5px;
  box-shadow: 1px 1px 5px gray;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
}

.card img {
  width: 100px;
  border-radius: 50%;
}

.card span {
  font-weight: bold;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.search-bar input {
  padding: 10px;
}
